include LICENSE
include README.md
include docs/CLI_readme.md
recursive-include swarm/assets *
recursive-include swarm/submission_template *
recursive-include swarm/templates *
recursive-include swarm/validator/docker *
global-exclude __pycache__/*
global-exclude *.py[cod]
