# VALIDATORS: Install Docker manually before running
# Ubuntu: sudo apt-get install docker.io && sudo usermod -aG docker $USER

pydantic
rich
pytest
numpy>=1.24,<2.0
setuptools
loguru
xmldiff
filelock
git+https://github.com/swarm-subnet/bullet3-swarmfork.git
bittensor
msgpack
importlib-metadata
onnxruntime
stable-baselines3[extra]
wandb
python-dotenv
typing-extensions
tqdm
torch
gymnasium
requests
pycapnp
git+https://github.com/swarm-subnet/swarm-gym-pybullet-drones.git
