pydantic
rich
pytest
numpy==2.0.2
setuptools
loguru
xmldiff
filelock
# gym-pybullet-drones @ git+https://github.com/utiasDSL/gym-pybullet-drones.git
pybullet
bittensor
msgpack
wandb
python-dotenv
typing-extensions
tqdm
pybullet-utils>=0.0.5