pydantic
rich
pytest
setuptools
loguru
xmldiff
filelock
pybullet
bittensor
msgpack
importlib-metadata
onnxruntime
stable-baselines3[extra]
wandb
python-dotenv
typing-extensions
tqdm
torch
gymnasium
requests
pycapnp